@import "tailwindcss";
@plugin "daisyui";

/* https://invertcolors.net/ */

@theme {
  --color-main-bg: #111111;
  --color-main-text: #fafafa;
  --color-sec-text: #d5d5d5;
  --color-third-text: #2a2a2a;
  --color-main-border: #2a2a2a;
  --color-card-bg: #d5d5d5;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pixel-square: var(--font-geist-pixel-square);
  --font-pixel-grid: var(--font-geist-pixel-grid);
  --font-pixel-circle: var(--font-geist-pixel-circle);
  --font-pixel-triangle: var(--font-geist-pixel-triangle);
  --font-pixel-line: var(--font-geist-pixel-line);
}

@variant light (&:where([data-theme="light"], [data-theme="light"] *));

@media (prefers-color-scheme: light) {
  :root {
    --color-main-bg: #eeeeee;
    --color-main-text: #050505;
    --color-sec-text: #2a2a2a;
    --color-third-text: #d5d5d5;
    --color-main-border: #d5d5d5;
    --color-card-bg: #2a2a2a;
  }
}

@light {
  --color-main-bg: #eeeeee;
  --color-main-text: #050505;
  --color-sec-text: #2a2a2a;
  --color-third-text: #d5d5d5;
  --color-main-border: #d5d5d5;
  --color-card-bg: #2a2a2a;
}

@layer base {
  html,
  body {
    height: 100%;
  }
  body {
    @apply bg-main-bg text-main-text font-mono;
  }
}
